rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // ⭐ Правила для коллекции избранного
    match /favorites/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // 📝 Правила для коллекции заметок
    match /notes/{noteId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
      allow delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }

    // 👤 Правила для коллекции 'users'
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId; // ✅ Разрешаем создание своего профиля
      allow read: if request.auth != null && request.auth.uid == userId;   // ✅ Чтение своего профиля
      allow update: if request.auth != null && request.auth.uid == userId; // ✅ Обновление своего профиля
    }

    // 🗑️ Правила для коллекции 'delete-users'
    match /delete-users/{requestId} {
      allow create: if request.auth != null
        && request.resource.data.uid == request.auth.uid
        && request.resource.data.email == request.auth.token.email
        && request.resource.data.content_confirm == "Я хочу удалить аккаунт"
        && request.resource.data.status == "pending";
      allow read, update, delete: if false;
    }
  }
}
